<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <link id="favicon" rel="icon" href="/assets/carrefour_favicon.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main_style.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/javascript/index.js" defer></script>
</head>

<body>
    <div class="mainContainer">
        <header>
            <h1 class="companyName">库存控制系统</h1>
        </header>
        <nav>
            <a class="home" href="/">
                <div class="homeDiv">
                    <img src="/assets/home.svg">
                    <span>
                        Home
                    </span>
                </div>
            </a>
            <a class="list" href="/list">
                <div class="listDiv">
                    <img src="/assets/items.svg">
                    <span>
                        Item List
                    </span>
                </div>
            </a>
            <a class="edit" href="/edit">
                <div class="editDiv">
                    <img src="/assets/edit.svg">
                    <span>
                        Edit
                    </span>
                </div>
            </a>
            <a class="orders" href="/orders">
                <div class="ordersDiv">
                    <img src="/assets/orders.svg">
                    <span>
                        Order List
                    </span>
                </div>
            </a>
        </nav>
        <div id="inputsDiv" class="inputs">
            <div class="itemName">
                Item Name: <div contenteditable="true" id="itemName"></div>
            </div>
            <div class="itemAmount">
                Item Amount: <div contenteditable="true" id="itemAmount"></div>
            </div>
            <div class="itemCategory">
                Item Category: <div contenteditable="true" id="itemCategory"></div>
            </div>
            <div class="submit">
                <button class="submitButton" type="submit" onclick="submit()">Submit</button>
                <span id="submitText"></span>
            </div>
        </div>
        <footer>
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/iconnice" title="Iconnice">Iconnice</a>, <a
                    href="https://www.flaticon.com/authors/srip" title="srip">srip</a>, <a
                    href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>, <a
                    href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </footer>
    </div>
</body>

</html>